* {
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Mono", monospace;
  color: #75aaff;
}
h1 {
  padding: 10px;
  text-align: center;
  color: #7bddf1;
}
body {
  background-color: #212121;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.answer_div {
  color: #ffbe45;
  border: 2px solid #f038ff;
  border-radius: 3px;
  padding-left: 20px;
  min-height: 70px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s all ease-in;
}
.answer_div:hover {
  border: 5px solid #ffab39;
}
.correct_div {
  color: #212121;
  border: 5px solid #a4e88d;
  background-color: #a4e88d;
  border-radius: 3px;
  padding-left: 20px;
  min-height: 70px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s all ease-in;
}
.false_div {
  color: #212121;
  border: 5px solid red;
  background-color: red;
  border-radius: 3px;
  padding-left: 20px;
  min-height: 70px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s all ease-in;
}
.clicked {
  background-color: #ffab39;
  color: #212121;
}
.hidden {
  display: none;
}
.quiz_title {
  opacity: 0;
}
.quiz_title_landing {
  opacity: 1;
  transition: 1s all ease-in;
}
#quiz_word {
  color: #ffbe45;
}
#parentheses {
  color: #f0715c;
}
.input_styling {
  background-color: #212121;
  border: 2px solid #f038ff;
  height: 40px;
  font-size: 1.2em;
}
.input_styling:focus {
  border: 2px solid #ffab39;
}
input[type="button"] {
  margin-top: 40px;
  border: 2px solid #f038ff;
  background-color: #212121;
  height: 40px;
}
input[type="button"]:hover {
  border: 2px solid #ffab39;
}
#question_category {
  color: #f038ff;
}
#question_feedback {
  margin-top: 10px;
}
