* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
h1 {
  padding: 10px;
  text-align: center;
  color: #d7cda4;
}
body {
  background-color: #f038ff;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
}
.answer_div {
  border: 2px solid #f038ff;
  border-radius: 3px;
  padding-left: 20px;
  height: 70px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.answer_div:hover {
  border: 2px solid #70e4ef;
}
.clicked {
  background-color: #3772ff;
}
.hidden {
  display: none;
}
